@model WebCNPM.Models.SAN

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SAN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên Sân
            @*@Html.DisplayNameFor(model => model.TenSan)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSan)
        </dd>

        <dt>
            Địa Chỉ
            @*@Html.DisplayNameFor(model => model.Diachi)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diachi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaSan }) |
    @Html.ActionLink("Back to List", "Index")
</p>
