@{
    ViewBag.Title = "Trang Chủ";
}
<h2 class="header"> GIẢI VÔ ĐỊCH BÓNG ĐÁ QUỐC GIA</h2>
<div class="center">
    <a class=" btn btn-primary button " href="~/MuaGiai/Index">Mùa giải</a>
    <a class=" btn btn-warning button" href="~/DoiBong/MyIndex">Hồ sơ đội bóng</a>
    <a class="btn btn-success button" href="~/CauThu/DanhSachCauThu">Tra cứu cầu thủ</a>
    <a class="btn btn-danger button" href="~/KQTD/Index">Trận đấu</a>
    <a class="btn btn-info button" href="~/BangXepHang/Index">Bảng xếp hạng</a>
</div>