.center {
    width: 50%;
    height: 50%;
    margin: auto;
    text-align:center;
}
.button
{
    width:350px;
    font-size:18px !important;
    margin:10px;
}
.header
{
    text-align:center;
    color: brown;

}

/*
	 We are clearing the body's margin and padding, so that the header fits properly.
	 We are also adding a height to demonstrate the scrolling behavior. You can remove
	 these styles.

*/
body {
    margin: 0;
    padding: 0;
}




/* Body */
body .main-content {
    width: 88%;
    margin: 0 auto;
    margin-top: 20px;
    font-family: OpenSans;
    font-size: 14px;
}

body .main-content img svg{
    
}