@model WebCNPM.Models.BANTHANG

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BANTHANG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BanThang1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BanThang1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaLoaiBanThang }) |
    @Html.ActionLink("Back to List", "Index")
</p>
